<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>A Good Man - Personal Shopping in Melbourne and Sydney</title>
  <meta name="description" content=" INSERT DESCRIPTION HERERFRWEBEOTUHBIUERHVOUVHEORUHVWOIVHJOIVHJDFOIVHFOVUDFH SDVRSIUVBERUIVB]] adsvdfbvbadfhjbvadfjvf DO IT!!!!!!!!! ">
  <meta name="viewport" content="width=device-width">
  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="css/normalize.min.css">
  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css">
  <script src="js/vendor/modernizr-2.6.2.min.js"></script>
</head>
<body ng-app="AGM">
<!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->
<nav id="mainNav" class="nav navbar-fixed-top navbar-default">
  <div class="clearfix" style=" text-align: center; max-width: 1080px; margin: 0 auto; -webkit-box-shadow: 0 4px 2px -2px rgba(49,64,70,0.2); -moz-box-shadow: 0 4px 2px -2px rgba(49,64,70,0.2); box-shadow: 0 4px 2px -2px rgba(49,64,70,0.2); ">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="#" style=" font-family: 'franklin gothic demi'; color: #000; font-size: 24px; ">A GOOD MAN</a>
    </div>
    <div style=" float: right; ">
      <form class="navbar-form navbar-left" role="search" style=" float: left; ">
        <div class="form-group">
          <input type="text" class="form-control floatLabel" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </div>
</nav>      

<section class="intro">
  <div class="row clearfix">
    <div class="col-sm-6 intro-left">
      <article class="intro-description">
        <h1 id="main-title">
          A GOOD MAN
          </h1>
          <h2>
            We help successful men dress in a way that makes them feel comfortable, attractive and confident.
            <br>
          <br>
          A personal shopping service like no other - for men, by men.
          </h2>
          <h3>
            We save you money, show you where to shop, and help you look good. 
            Damn good.
          </h3>
      </article>
      <form class="form-horizontal intro-contact" role="form" _lpchecked="1">
        <div class="form-group">
          <label for="inputName" class="col-sm-2 control-label">
            Name
          </label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputName">
          </div>
        </div>
        <div class="form-group">
          <label for="inputEmail" class="col-sm-2 control-label">
            Email
          </label>
          <div class="col-sm-10">
            <input type="email" class="form-control" id="inputEmail">
          </div>
        </div>
        <div class="form-group">
          <label for="inputLocation" class="col-sm-2 control-label">
            Location
          </label>
          <div class="col-sm-10">
            <input type="text" class="form-control" id="inputLocation">
          </div>
        </div>
        <div class="form-group">
          <label for="inputLocation" class="col-sm-12 control-label">
            Tell us what you need
          </label>
          <div class="col-sm-12">
            <textarea class="form-control needText" rows="3">
            </textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-10">
            <button type="submit" class="btn btn-default">
              Get in contact
            </button>
          </div>
        </div>
      </form>
  </div>
  <div class="col-sm-6 intro-right">
    <img class="client-img" src="img/cool-guy.jpg">
    <p>
      Client 101, September 30th, 2013
    </p>
  </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
        <h2 class="title">
        As featured in
      </h2>
      <div class="row features ft-top">
        <span class="col-sm-4 featured1">
        </span>
        <span class="col-sm-4 featured2">
        </span>
        <span class="col-sm-4 featured3">
        </span>
      </div>  
      <div class="row features">
        <span class="col-sm-4 featured4">
        </span>
        <span class="col-sm-4 featured5">
        </span>
        <span class="col-sm-4 featured6">
        </span>
      </div>  
    </div>
  </div>
</section>
<section class="why-boxes">
<!--  <div class="row">
    <h2 class="centered title">
        Select a service type
    </h2>
    <div class="col-sm-6 centered">
      <img class="why-thumbs" src="https://trunkclub-assets.s3.amazonaws.com/site-assets/uncrate/how-2.jpg"/>
      <h3>
        We bring clothes to you
      </h3>
      <p>
        For the man too busy to leave the home or office, we can bring all of the world's best labels 
      </p>
    </div>
    <div class="col-sm-6 centered">
      <img class="why-thumbs" src="https://trunkclub-assets.s3.amazonaws.com/site-assets/uncrate/how-3.jpg"/>
      <h3>
        We take you shopping
      </h3>
      <p>
        It's quite simple. We're men, we know how men's clothes are meant to look and we know where all the best menswear is in Melbourne and Sydney.
      </p>
    </div>
  </div>
-->
<div class="row">
    <div class="shop-banner shop-with-you">
    </div>
   <!-- price & service -->
    <div class="row centered">          
               
     <!-- Pack 1-->
      <div class="col-md-4" id="home-box">
          <div class="pricing_header">
              <h2>Quick Shop</h2>
              <div class="space"></div>
          </div>
          <ul class="list-group">
                  <li class="list-group-item"><i class="fa fa-check"></i> 2 Hours of Personal Shopping</li>
                  <li class="list-group-item off"><i class="fa fa-times"></i> Wardrobe Audit</li>
                  <li class="list-group-item off"><i class="fa fa-times"></i> Hair Consultation</li>
                  <li class="list-group-item off"><i class="fa fa-times"></i> Extended style advice</li>
              </ul>
          <div class="buy">
              <p class="price">$300</p>
              <a class="btn btn-default" href="#" type="button">Do it!</a>
          </div>
      </div>
      <!-- Pack 2-->
      <div class="col-md-4" id="home-box">
          <div class="pricing_header">
              <h2>Work Day</h2>
              <div class="space"></div>
          </div>
          <ul class="list-group">
                  <li class="list-group-item"><i class="fa fa-check"></i> 5 Hours of Personal Shopping</li>
                  <li class="list-group-item off"><i class="fa fa-times"></i> Wardrobe Audit</li>
                  <li class="list-group-item off"><i class="fa fa-times"></i> Hair Consultation</li>
                  <li class="list-group-item off"><i class="fa fa-times"></i> Extended style advice</li>
              </ul>
          <div class="buy">
              <p class="price">$650</p>
              <a class="btn btn-default" href="#" type="button">Do it!</a>
          </div>
      </div>
      
      <!-- Pack 3-->
      <div class="col-md-4" id="home-box">
          <div class="pricing_header">
              <h2>Overhaul</h2>
              <div class="space"></div>
          </div>
          <ul class="list-group">
                  <li class="list-group-item"><i class="fa fa-check"></i> 8 Hours of Personal Shopping</li>
                  <li class="list-group-item"><i class="fa fa-check"></i> Wardrobe Audit</li>
                  <li class="list-group-item"><i class="fa fa-check"></i> Hair Consultation</li>
                  <li class="list-group-item"><i class="fa fa-check"></i> Extended style advice</li>
              </ul>
          <div class="buy">
              <p class="price">$1450</p>
              <a class="btn btn-default" href="#" type="button">Do it!</a>
          </div>
      </div>              
      </div> 
  </div> 
  <div class="shop-banner shop-for-you">
    </div>
   <!-- price & service -->
    <div class="row centered">          
               
     <!-- Pack 1-->
      <div class="col-md-8 col-md-offset-2" id="home-box">
          <div class="pricing_header">
              <h2>Porter Service</h2>
              <div class="space"></div>
          </div>
          <p>A Good Man's "Porter Service" is for men who don't have time or energy to spend the day shopping and want a selection of clothes expertly sourced by our stylists to match their specification, then brought to their home or office to try on. Your stylist will be there with you as you try the clothes, to make sure everything fits perfectly and looks fantastic.</p>

          <p>You keep the clothes you want, we return the rest. We even create a bulk invoice for you so you only need to pay once, rather than each individual store. With the porter service, we make it as easy for you as possible to get new clothes.</p>
          
          <div class="buy">
              <p class="price">$300</p>
              <a class="btn btn-default" href="#" type="button">Do it!</a>
          </div>
      </div>
</section>
<section class="why-boxes">
  <div class="row">
    <h2 class="centered title">
      What Sets Us Apart
    </h2>
    <div class="col-sm-4 centered">
      <img class="why-thumbs" src="https://trunkclub-assets.s3.amazonaws.com/site-assets/uncrate/how-1.jpg"/>
      <h3>
        We're unbiased
      </h3>
      <p>
        Unlike other shopping services, we don't take commissions on anything you buy. You're paying us to act entirely on your behalf, and we're making sure you get the best stuff
      </p>
    </div>
    <div class="col-sm-4 centered">
      <img class="why-thumbs" src="https://trunkclub-assets.s3.amazonaws.com/site-assets/uncrate/how-2.jpg"/>
      <h3>
        We're Men
      </h3>
      <p>
        It's quite simple. We're men, we know how men's clothes are meant to look and we know where all the best menswear is in Melbourne and Sydney.
      </p>
    </div>
    <div class="col-sm-4 centered">
      <img class="why-thumbs" src="https://trunkclub-assets.s3.amazonaws.com/site-assets/uncrate/how-3.jpg"/>
      <h3>
        We're the experts
      </h3>
      <p>
        Established in 2009, A Good Man has written best-selling books on men's style, worked with major men's fashion publications and styled thousands of men all over the world.
      </p>
    </div>
  </div>
  <div class="credibility">
    <h3 class="centered">Here's some other amazing projects we've been a part of</h3>
    <div class="row cred cred-top">
        <span class="col-sm-4 cred1" data-toggle="modal" data-target="#credModal1"></span>
        <span class="col-sm-4 cred2" data-toggle="modal" data-target="#credModal2"></span>
        <span class="col-sm-4 cred3" data-toggle="modal" data-target="#credModal3"></span>
      </div>  
      <div class="row cred">
        <span class="col-sm-4 cred4" data-toggle="modal" data-target="#credModal4"></span>
        <span class="col-sm-4 cred5" data-toggle="modal" data-target="#credModal5"></span>
        <span class="col-sm-4 cred6" data-toggle="modal" data-target="#credModal6"></span>
      </div>
  </div>
      <!-- Cred Modals -->
        <div class="modal fade" id="credModal1" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
              </div>
              <div class="modal-body">
                We wrote some really good shit and it was great!
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div class="modal fade" id="credModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
              </div>
              <div class="modal-body">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div class="modal fade" id="credModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
              </div>
              <div class="modal-body">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div class="modal fade" id="credModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
              </div>
              <div class="modal-body">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div class="modal fade" id="credModal5" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
              </div>
              <div class="modal-body">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

        <div class="modal fade" id="credModal6" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">Modal title</h4>
              </div>
              <div class="modal-body">
                ...
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary">Save changes</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->
</section>

<!--
<section class="cheesypromo">
    <img src="img/dresswellcheesy.jpg" alt="You dress so well! Never heard that one before? You mustn't be a client of ours yet" />    
</section>

<section class="promo-video">
  <h2 class="centered title">
    A taste of what we do
  </h2>
  <div id="main-video">
    <div class="fluid-width-video-wrapper" style="padding-top: 56.2%;">
      <iframe src="http://player.vimeo.com/video/54061132?title=0&amp;byline=0&amp;portrait=0" frameborder="0" webkitallowfullscreen="" mozallowfullscreen="" allowfullscreen="" id="fitvid797569">
      </iframe>
    </div>
  </div>
  <p class="video-byline">
    A Good Man for Mercedes / Clemenger BBDO
  </p>
  <div class="row">
    <article class="col-sm-4 centered">
      <h5 class="huge">
        1.
      </h5>
      <h1>
        You need good clothes.
      </h1>
      <p>
        But you don't know where to shop, don't know what's cool, don't know how to find stuff that fits your body
      </p>
      <p>
      </p>
    </article>
    <article class="col-sm-4 centered">
      <h5 class="huge">
        2.
      </h5>
      <h1>
        Call A Good Man.
      </h1>
      <p>
        One of our expert stylists will get in touch and help you select the best package for your needs
      </p>
      <p>
      </p>
    </article>
    <article class="col-sm-4 centered">
      <h5 class="huge">
        3.
      </h5>
      <h1>
        Become A Good Man.
      </h1>
      <p>
        or, at least, a cool man. You can start looking and feeling amazing. It's that simple, and that good.
      </p>
    </article>
  </div>
</section>
<section class="styling-services clearfix" ng-controller="clientSurvey">
  <h1 class="centered services-title">
    Services and Fees
  </h1>
  <div class="row">
    <div class="col-sm-12">
      <h2 class="title">
        Let's get started
      </h2>
      <div>
        <h4>
          How much would you like to spend on clothes?
        </h4>
        <div class="btn-group">
          <button class="btn btn-default" ng-model="radioModel" ng-click="quickgood = 'success'; workgood = 'success'; overgood='warning'" btn-radio="'
<$1000'">
  &lt;$1000
              </button>
              <button class="btn btn-default" ng-model="radioModel" ng-click="quickgood = 'danger'; workgood = 'success'; overgood = 'success'" btn-radio="'$1000 - $2000'">
                $1000 - $2000
              </button>
              <button class="btn btn-default" ng-model="radioModel" ng-click="quickgood = 'danger'; workgood = 'danger'; overgood = 'success'" btn-radio="'$2000 - $3000'">
                $2000 - $3000
              </button>
              <button class="btn btn-default" ng-model="radioModel" ng-click="quickgood = 'danger'; workgood = 'danger'; overgood = 'success'" btn-radio="'$3000 - $4000'">
                $3000 - $4000
              </button>
              <button class="btn btn-default" ng-model="radioModel" ng-click="quickgood = 'danger'; workgood = 'danger'; overgood = 'success'" btn-radio="'$4000+'">
                $4000+
              </button>
          </div>
      </div>
      <div>
        <h4>
          What kinds of outfits do you require?
        </h4>
        <div class="btn-group">
          <button class="btn btn-default" ng-model="checkModel.casual" btn-checkbox ng-click="checkStyles()">
            Casual
          </button>
          <button class="btn btn-default" ng-model="checkModel.suiting" btn-checkbox ng-click="checkStyles()">
            Suiting
          </button>
          <button class="btn btn-default" ng-model="checkModel.streetwaer" btn-checkbox ng-click="checkStyles()">
            Streetwear
          </button>
          <button class="btn btn-default" ng-model="checkModel.corporate" btn-checkbox ng-click="checkStyles()">
            Business/corporate
          </button>
          <button class="btn btn-default" ng-model="checkModel.leisure" btn-checkbox ng-click="checkStyles()">
            Leisure
          </button>
        </div>
        {{outfitMsg}}
      </div>
      <div>
        <h4>
          Do you struggle with...
        </h4>
        <div class="btn-group">
          <button class="btn btn-default" ng-model="struggle.body" btn-checkbox>
            Finding clothes for your body type
          </button>
          <button class="btn btn-default" ng-model="struggle.outfits" btn-checkbox>
            Putting cool outfits together
          </button>
          <button class="btn btn-default" ng-model="struggle.wasting" btn-checkbox>
            Wasting money on clothes
          </button>
          <button class="btn btn-default" ng-model="struggle.neverwear" btn-checkbox>
            Buying clothes that you never wear
          </button>
          <button class="btn btn-default" ng-model="struggle.lasting" btn-checkbox>
            Finding clothes that last a long time
          </button>
        </div>
      </div>
  </div>
  </div>
  <table class="table table-striped">
    <tbody>
      <tr class="table-titles">
        <td>
          Service Name
        </td>
        <td>
          Price
        </td>
        <td>
          Hours Shopping
        </td>
        <td>
          Haircut
        </td>
        <td>
          Wardrobe Audit
        </td>
        <td>
          Best For
        </td>
      </tr>
      <tr ng-class="quickgood">
        <td>
          Quick Shop
        </td>
        <td>
          $300
        </td>
        <td class="shop-hours">
          2
        </td>
        <td>
          X
        </td>
        <td>
          X
        </td>
        <td>
          An outfit or a few cool pieces
        </td>
      </tr>
      <tr ng-class="workgood">
        <td>
          Work Day
        </td>
        <td>
          $650
        </td>
        <td class="shop-hours">
          5
        </td>
        <td>
          X
        </td>
        <td>
          X
        </td>
        <td>
          A few new outfits
        </td>
      </tr>
      <tr ng-class="overgood">
        <td>
          Overhaul
        </td>
        <td>
          $1450
        </td>
        <td class="shop-hours">
          14
        </td>
        <td>
          Yes
        </td>
        <td>
          Yes
        </td>
        <td>
          Refreshing your wardrobe and getting a new look
        </td>
      </tr>
      <tr ng-class="overgood">
        <td>
          Bi-Yearly Overhaul
        </td>
        <td>
          $2500
        </td>
        <td class="shop-hours">
          14, twice-yearly
        </td>
        <td>
          Yes
        </td>
        <td>
          Yes
        </td>
        <td>
          An overhaul twice-yearly is great for guys who always want a fresh wardrobe
        </td>
      </tr>
      <tr ng-class="overgood">
        <td>
          12-month Plan (Overhaul + 3 Work Days)
        </td>
        <td>
          $3300
        </td>
        <td class="shop-hours">
          14 + 5 hours every new season
        </td>
        <td>
          Yes
        </td>
        <td>
          Yes
        </td>
        <td>
          The most cost-effective and plan, for men who want a constantly-updated wardrobe
        </td>
      </tr>
  </tbody>
  </table>
  <div class="col-sm-6">
    <img class="services-img" src="img/cool-guys.jpg">
  </div>
  <div class="col-sm-4 col-sm-offset-2">
    <article class="centered">
      <h1>
        Quick Shop - $300
      </h1>
      <p class="shop-included">
        2 Hours of Personal Shopping
      </p>
      <p>
        For men who want to test out our services or want a quick session to find something specific
      </p>
      <p>
        <i>
          Recent client briefs: A wedding outfit, a new suit, some summer shirts...
        </i>
      </p>
    </article>
    <article class="centered">
      <h1>
        Work Day - $650
      </h1>
      <p class="shop-included">
        5 Hours of Personal Shopping
      </p>
      <p>
        For men who want to put a day of work into improving their wardrobe.
      </p>
      <p>
        <i>
          Recent client briefs: Clothes for a recent graduate, clothes for an upcoming holiday, the perfect corporate wardrobe...
        </i>
      </p>
    </article>
    <article class="centered">
      <h1>
        Overhaul - $1450
      </h1>
      <p class="shop-included">
        8 Hours of Personal Shopping
      </p>
      <p class="shop-included">
        Wardrobe Audit
      </p>
      <p class="shop-included">
        Haircut
      </p>
      <p>
        For men who want to start fresh; new image, new look, new everything.
      </p>
      <p>
        <i>
          Recent client briefs: A new wardrobe for a new job, clothes for a man who hates shopping, clothes for a very tall (or short) guy who can never find anything the fits well...
        </i>
      </p>
    </article>
  </div>
</section>
<section class="gifts row">
  <article class="centered col-sm-6 col-sm-offset-3">
    <h1>
      Need a gift certificate for A Good Man in your life?
    </h1>
    <p>
      A session with us is the male equivalent of a day at the spa. It's fun, it's a great experience and it usually ends in a beer or two afterwards. Just send us an email at info@agoodman.com.au or use the contact form above and we'll send through a special certificate for you to print!
    </p>
  </article>
</section>
<section class="suggestions row">
  <div class="centered">
    <h1>
      Just want some new clothes?
    </h1>
    <p>
      Here are a few selected pieces from some of our favourite stores
    </p>
  </div>
  <article class="col-sm-4">
    <h3>
      $150 Starter Pack
    </h3>
    <div class="row">
      <div class="suggestion imgBig col-sm-6">
        <img class="img-responsive" src="http://images.asos-media.com/inv/media/2/8/6/1/2571682/white/image1xl.jpg" />
        <div class="imgInfo">
          <h4 ="suggestTitle">
            Asos White Shirt
          </h4>
          <p class="suggestPrice">
            $37.81
          </p>
        </div>
      </div>
      <div class="imgSmall col-sm-6">
        <div class="suggestion pull-left">
          <img class="img-responsive" src="http://images.asos-media.com/inv/media/7/5/7/9/3349757/blue/image1xl.jpg" />
          <div class="imgInfo">
            <h4 ="suggestTitle">
              Cheap Monday Chinos
            </h4>
            <p class="suggestPrice">
              $94.53
            </p>
          </div>
        </div>
        <div class="suggestion pull-left">
          <img class="img-responsive pull-left" src="http://images.asos-media.com/inv/media/7/1/6/0/2650617/brown/image1xl.jpg" />
          <div class="imgInfo">
            <h4 ="suggestTitle">
              Asos Brown Brogues
            </h4>
            <p class="suggestPrice">
              $41.59
            </p>
          </div>
        </div>
      </div>
    </div>
    <a href="#">
      Find out why it's great and how to put it all together
    </a>
  </article>
  <article class="col-sm-4">
    <h3>
      $500 Basic Wardrobe
    </h3>
    <div class="row">
      <div class="suggestion imgBig col-sm-6">
        <img class="img-responsive" src="http://images.asos-media.com/inv/media/2/8/6/1/2571682/white/image1xl.jpg" />
        <div class="imgInfo">
          <h4 ="suggestTitle">
            Asos White Shirt
          </h4>
          <p class="suggestPrice">
            $37.81
          </p>
        </div>
      </div>
      <div class="imgSmall col-sm-6">
        <div class="suggestion pull-left">
          <img class="img-responsive" src="http://images.asos-media.com/inv/media/7/5/7/9/3349757/blue/image1xl.jpg" />
          <div class="imgInfo">
            <h4 ="suggestTitle">
              Cheap Monday Chinos
            </h4>
            <p class="suggestPrice">
              $94.53
            </p>
          </div>
        </div>
        <div class="suggestion pull-left">
          <img class="img-responsive pull-left" src="http://images.asos-media.com/inv/media/7/1/6/0/2650617/brown/image1xl.jpg" />
          <div class="imgInfo">
            <h4 ="suggestTitle">
              Asos Brown Brogues
            </h4>
            <p class="suggestPrice">
              $41.59
            </p>
          </div>
        </div>
      </div>
    </div>
  </article>
  <article class="col-sm-4">
    <h3>
      $1000 Basic Wardrobe
    </h3>
    <div class="row">
      <div class="suggestion imgBig col-sm-6">
        <img class="img-responsive" src="http://images.asos-media.com/inv/media/2/8/6/1/2571682/white/image1xl.jpg" />
        <div class="imgInfo">
          <h4 ="suggestTitle">
            Asos White Shirt
          </h4>
          <p class="suggestPrice">
            $37.81
          </p>
        </div>
      </div>
      <div class="imgSmall col-sm-6">
        <div class="suggestion pull-left">
          <img class="img-responsive" src="http://images.asos-media.com/inv/media/7/5/7/9/3349757/blue/image1xl.jpg" />
          <div class="imgInfo">
            <h4 ="suggestTitle">
              Cheap Monday Chinos
            </h4>
            <p class="suggestPrice">
              $94.53
            </p>
          </div>
        </div>
        <div class="suggestion pull-left">
          <img class="img-responsive pull-left" src="http://images.asos-media.com/inv/media/7/1/6/0/2650617/brown/image1xl.jpg" />
          <div class="imgInfo">
            <h4 ="suggestTitle">
              Asos Brown Brogues
            </h4>
            <p class="suggestPrice">
              $41.59
            </p>
          </div>
        </div>
      </div>
    </div>
  </article>
</section>
-->
<section class="styling-services row">
  <article class="centered col-sm-6">
    <h1>
      Dress Better in 7 Days!
    </h1>
    <img src="img/money-back.png" class="money-back"/>
    <p>
      Since 2009 we've been teaching thousands of men how to dress better. <strong>We've compiled our best tips to help any man begin dressing better in just one week.</strong>
    </p>
    <p>You get an email every morning when you're getting dressed that teaches you a new lesson. Put it in practice, send us a photo, get feedback, look great.
    </p>
    <a class="btn btn-default" href="#">
      Try It
    </a>
  </article>
  <article class="centered col-sm-4 col-sm-offset-2">
    <h1>
      A Good Man can help you.
    </h1>
    <p>
      Simply by joining our mailing list.
    </p>
    <form class="form-horizontal mailing-list" role="form">
      <div class="form-group">
        <label for="mailingList" class="col-sm-2 control-label">
          Email
        </label>
        <div class="col-sm-10">
          <input type="email" class="form-control" id="mailingList">
        </div>
      </div>
    </form>
  </article>
</section>
<section class="styling-services row" ng-controller="mainArticles" style="position: relative;
padding-top: 450px;">
    <div style="
        position: absolute;
                     
        top: 50px;
        background: url('img/mens-fashion-articles-2.jpg');
        width: 980px;
        height: 400px;
        background-size: 100%;
        /* background-position-y: -50px; */
    "><h2 style="
        color: white;
        position: absolute;
        bottom: 120px;
        text-align: center;
        width: 100%;
        font-size: 48px;
    ">Men's Fashion Articles</h2>
  </div>
  <input ng-model="query" class="line-input" />
  <ul class="article-list">
    <li class="my-repeat-animation" ng-repeat="article in articles | filter:query | limitTo:6">
      <h3 class="article-title">{{article.title}}</h3>
      <p class="article-byline">{{article.byline}}</p>
      <p class="article-author">{{article.author}}</p>
    </li>
  </ul>
</section>

<footer>
  <div class="centered">
    <ul class="flat-list">
      <li>
        Contact
      </li>
      <li>
        Articles
      </li>
      <li>
        Press
      </li>
      <li>
        AGMP
      </li>
    </ul>
    <p class="uppercase">
      Copyright 2013 A Good Man Partners
    </p>
  </div>
</footer>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.13/angular-animate.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
<script>window.jQuery || document.write('<script src="js/vendor/jquery-1.10.1.min.js"><\/script>')</script>
<script src="js/bootstrap.min.js"></script>
<script src="js/angularstrap.js"></script>
<script src="js/plugins.js"></script>
<script src="js/main.js"></script>
<script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src='//www.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
<script id="hiddenlpsubmitdiv" style="display: none;"></script>
<script>try{for(var lastpass_iter=0; lastpass_iter < document.forms.length; lastpass_iter++){ var lastpass_f = document.forms[lastpass_iter]; if(typeof(lastpass_f.lpsubmitorig2)=="undefined"){ lastpass_f.lpsubmitorig2 = lastpass_f.submit; lastpass_f.submit = function(){ var form=this; var customEvent = document.createEvent("Event"); customEvent.initEvent("lpCustomEvent", true, true); var d = document.getElementById("hiddenlpsubmitdiv"); for(var i = 0; i < document.forms.length; i++){ if(document.forms[i]==form){ d.innerText=i; } } d.dispatchEvent(customEvent); form.lpsubmitorig2(); } } }}catch(e){}</script>
</body>
</html>